<div class="pinterest_profile">
  <table>
    <tr>
      <td class="photo">
        <%= image_tag @user.avatar.url(:thumb), :class => 'avatar' %>
      </td>
    </tr>
    <tr>
     <td>
        <div class="pinterest_handle"><%= @user.handle %></div>
      </td>
    </tr>
  </table>
</div>

<table class="items_list">
<% @items.each do |item| %>
  <%= render partial: "item", locals: {item: item} %>
<% end %>
</table>