<div class="pinterest_profile">
  <table>
    <tr>
    </tr>
    <tr>
     <td>
        <div class="pinterest_handle"> <b> <%= @user.name %> : </b></div>
      </td>
    </tr>
  </table>
</div>


<ol>
<table class="items_list">
<% @items.each do |item| %>
 <%= render partial: "item", locals: {item: item} %> 
<% end %>
</ol>

</table>